{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}

{% block header %}
	<div class="project">
		{% include "partials/_header.html.twig" %}
	</div>
{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
		<div class="alert">
			{{ message }}
		</div>
	{% endfor %}


	{% if app.user %}
		<a href="{{ path('project.add') }}">Ajouter un projet</a>
	{% endif %}

{% for project in projects %}
<div class="titre-projet">
	<h2> {{ project.id }}// {{ project.title }}</h2>
	{% if app.user %}
	<button><a href="{{ path('project.delete', { id: project.id }) }}">Delete</a></button>
	{% endif %}
</div>
{% endfor %}

{% endblock %}
{% block footer %}
	{% include "partials/_footer.html.twig" %}
{% endblock %}
